/* general styles */
* {
    padding: 0;
    margin: 0;
}
/* styles for font */
@font-face {
    font-family: Barlow Semi Condensed;
    src: url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");
}
#mainy {
    display: none;
}
/* styles for the body */
body {
    background-image: linear-gradient(hsl(214, 47%, 23%), hsl(238, 48%, 15%));
    background-repeat: no-repeat;
    background-size: contain, cover;
    font-family: Barlow Semi Condensed;  
    letter-spacing: 0.2em; 
    height: 100vh;  
    overflow: hidden;
}
/* styles for the score board */
.scoreBoard {
    border: 3px solid hsl(217, 16%, 45%);
    margin: 1.9em 1.9em 3em 1.9em;
    padding: 0.9em 0.9em 0.6em 0.9em;
    border-radius: 0.4em;
    position: relative;
}
.scoreBoard img {
    width: 30%;
}
.score {
    float: right;
    border: 1px solid rgb(214, 211, 211);
    padding: 0 0.9em;
    padding-bottom: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.3em;
    width: 15%;
    margin-top: -.5em;
}
.score p {
    font-size: 0.5em;
    margin-top: 0.6em;
    padding-bottom: 0.6em;
    color: hsl(229, 64%, 46%);
}
.score h3 {
    font-size: 1.68em;
    line-height: 1.5rem;
    margin-top: 0.3em;
    color: hsl(217, 16%, 45%);
    text-align: center;
}
/* styles for the game with triangle and rock, paper, scissors */
section.game {
    margin: 3em 0;
    position: fixed;
}
.triangle img{
    width: 60%;
    height: 30%;
    position: fixed;
    margin-left: 4.6em;
    top: 15em;
    left: 0.3em;
}
.paper img, .scissors img, .rock img {
    width: 3.5em;
}
.paper img, .scissors img {
    margin-top: -7px;
}
/* styles for rock, paper, scissors */
.paper {
    border-radius: 50%;
    background-color:hsl(264, 14%, 93%);
    padding: 24px;
    top: 21em;
    left: 7em;
    float: left;
    border:  12px solid hsl(230, 89%, 65%);
}
.scissors {
    border-radius: 50%;
    background-color:hsl(264, 14%, 93%);
    padding: 24px;
    top: -2em;
    left: 22em;
    border:  12px solid hsl(40, 84%, 53%);
    position: absolute;
}
.rock {
    border-radius: 50%;
    background-color:hsl(264, 14%, 93%);
    padding: 24px;
    top: 32em;
    float: right;
    border: 12px solid hsl(349, 70%, 56%);
}
.rock:hover, .paper:hover, .scissors:hover {
    background-color: hsl(0, 1%, 73%);
    transition: ease-in .2s;
}
/* styles for the rules, easy, hard buttons */
button {
    background-color: hsl(238, 48%, 15%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.5em;
    border: 2px solid hsl(217, 16%, 45%);
    cursor: pointer;
    padding: 0.6em 2em;
    position: fixed;
    font-size: 0.6rem;
    text-decoration: none;
    letter-spacing: 0.5em;
    left: 15em;
    top: 52em;
}
button:hover {
    color: hsl(214, 47%, 23%);
    transition: ease-in-out;
    background-color: hsl(204, 8%, 88%);
}
.stage {
    position: fixed;
}
.easy {
    top: 20em;
}
.hard {
    top: 30em;
}
/* style for the rules page */
.rules {
    margin-left: 30px;
    width: 80%;
}
h2 {
    text-align: center;
    margin: 80px;
    color: hsl(229, 25%, 31%);
}
/* styles for picked characters (modal) */
.picked{
    display: none;
}
.picked1, .picked2, .picked3, .picked4, .picked5, .picked6 {
    display: none; /*hidden by default*/
    /* position: fixed;
    z-index: 1; /*makes it stay on top*/
    width: 100%;
    overflow: hidden;
    transition: 2s ease-in-out;
}

/* styles for win1,2,3 & lose1,2,3 & picked modals*/
.win1, .win2, .win3, .lose1, .lose2, .lose3 {
    display: none;
}
.win2 .win .scissors, .lose1 .lose .scissors, .picked .win .scissors, .picked5 .win .scissors {
    top: 20em;
    right: 11%;
    position: fixed;
    margin: 0 auto;
}
.picked .win .scissors {
    right: 12%;
}
.picked2 .win .rock, .picked3 .win .rock, .win1 .win .rock {
    top: 20em;
    right: -4%;
    position: fixed;
    margin: 0 auto;
}
.picked3 .win .scissors, .picked5 .win .rock, .picked6 .win .rock, .lose2 .lose .rock {
    top: 20em;
    left: 6em;
    position: fixed;
}
.picked4 .win .paper, .picked6 .win .paper,
.lose3 .lose .paper {
    top: 20em;
    position: fixed;
    margin: 0 auto;
    right: -27%;
}
.win1 .paper, .win2 .win .rock, .picked4 .win .paper,
.picked2 .win .paper, .picked .win .paper, 
.picked4 .win .scissors, .lose1 .lose .paper, .win3 .win .scissors,
.lose3 .lose .rock {
    top: 20em;
    position: fixed;
    left: 6em;
    margin:  auto;
}
.win3 .win .paper {
    top: 20em;
    right: -24.5%;
    position: fixed;
    margin:  auto;
}
.win p, .lose p {
    position: absolute;
    top: 30em;
    font-size: 0.68rem;
    color: hsl(0, 0%, 100%);
    left: 5em;
}
.win .scissorsP, .lose .scissorsP {
    margin-left:40%;
}
 {

}
/* styles for back button */
.back {
    width: 2em;
    margin-top: 24em;
    margin-left: 3em;
    margin-bottom: -23.2em;
}
svg:hover {
    cursor: pointer;
}

/* modal for rules*/
.myModal {
    display: none; /*hidden by default*/
    position: fixed;
    z-index: 1; /*makes it stay on top*/
    left: 40px;
    top: 11px;
    width: 80%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    transition: 2s ease-in-out;
    border-radius: 7px;
}
.myModal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 2.5em;
    top: 1em;
    transition: 2s ease-in-out;
    width: 80%;
    height: 95%;
    background-color: #fff;
    border-radius: 0.9em;
}
/* styles for close button */
.close, .close1 {
    background-color: transparent;
    left: 45%;
    top: ;
    border: none;
}

/* styles for play again buttons on win1,2,3 & lose1,2,3 pages */
.playAgain1 h1, .playAgain2 h1 {
    top: 11.3em;
    left: 30%;
    color: hsl(0, 0%, 100%);
    font-size: 34px;
    position: fixed;
    letter-spacing: 0px;
}
.playAgain1 h1, .playAgain3 h1, .playAgainLose1 h1 {
    top: 11.3em;
    left: 28%;
    color: hsl(0, 0%, 100%);
    font-size: 34px;
    position: fixed;
    letter-spacing: 0px;
}
.playAgain1 button, .playAgain2 button, .playAgain3 button, 
.playAgainLose1 button  {
    color: hsl(229, 25%, 31%);
    background-color: hsl(0, 0%, 100%);
    padding: 1em 3.1em;
    border: none;
    top: 45em;
    left: 11.5em;
    position: fixed;
}
.playAgain1 button:hover, .playAgain2 button:hover, .playAgain3 button:hover, 
.playAgainLose1 button:hover, .playAgainLose2 button:hover, .playAgainLoseLose3 button:hover{
    color:hsl(0, 0%, 100%);
    background-color: hsl(238, 48%, 15%);
    transition: ease-in-out 0.3s;
}

.piccked {
    margin: 120px 0 50px 140px;
    color: hsl(0, 0%, 100%);
    padding: 7px 30px;
}
/* styles for the dark circles */
.circle {
    border-radius: 50%;
    width: 25%;
    height: 6rem;
    background-color: hsl(214, 40%, 22%);
    float: right;
    margin-right: 60px;
    margin-top: 30px;
    position: static;
}
.circle3 {
    border-radius: 50%;
    width: 25%;
    height: 6rem;
    background-color: hsl(214, 40%, 22%);
    display: inline-block;
    margin-left: 230px;
    position: fixed;
    top: 200px;
}

/* styles for footer on index page */
footer {
    top: 37em;
    position: relative;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    letter-spacing: 0px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
